<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add your NuGet package sources here -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Additional package sources if needed -->
  </packageSources>
  
  <!-- Optional: specify credentials for private package sources -->
  <!--<packageSourceCredentials>
    <YourPrivateSource>
      <add key="Username" value="YourUsername" />
      <add key="ClearTextPassword" value="YourPassword" />
    </YourPrivateSource>
  </packageSourceCredentials>-->
</configuration>
